<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="NewDB" value="Data Source=82.119.117.77;Initial Catalog=ACDB_DEV;    User ID=ACDB_user; Password=ULwEsjcpDxjKLbL5" />
    <add key="OldDB" value="Data Source=82.119.117.77;Initial Catalog=PokerSystem; User ID=PokerTimer;Password=Poker1969" />

    <add key="PeterVargaUserId" value="F334C990-B039-4346-9392-F710E95C755F" />
  </appSettings>
</configuration>
